                                                <div class="fleft">
                                                        <div class="icon">
                                                                <a href="{link}" title="{desc}">
                                                                        <img src="{imag}" alt="{name}" align="middle" />
                                                                        <span>{name}</span>
                                                                </a>
                                                        </div>
                                                </div>
