<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" /> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es"> 
	<head> 
		<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
		<title>Mapa</title> 
		<script type="text/javascript" src="/js/jquery.js"></script> 
		<script type="text/javascript" src="/js/js.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script> 
		<script type="text/javascript" src="/modulos/mapa/js/OpenLayers/OpenLayers.js"></script>
		<script type="text/javascript" src="/modulos/mapa/js/js.js"></script>
		<script type="text/javascript">$().ready(function(){mostrarCoordenadas('{lon}', '{lat}');});</script>
		<link rel="stylesheet" type="text/css" href="/modulos/mapa/template/default/css/screen.css" media="screen" title="screen,print" /> 
	</head>
	<body>
		<!-- INICIO MAPA -->
		<!-- Mapa generado utilizando OpenLayers.org -->
		<div id="map" class="smallmap"></div>
		<!-- FIN MAPA -->
		<div id="ubicacion">{ubicacion}<br />{display_name}</div>
	</body>
</html>
