			<div id="panel">
				<div class="fleft" style="margin-left:5px;">				
					<ul id="menu" style="display: inline;">
 						<li><a href="/" title="{inicio} [H]" accesskey="H"><img src="/template/default/panel/img/home.png" alt="" /></a></li>
						<li><a href="/servicios/utilidades/" title="{utilidades} [U]" accesskey="U"><img src="/template/default/panel/img/utilities.png" alt="" /></a></li>
						<li><a href="/servicios/directorio" title="{directorio} [D]" accesskey="D"><img src="/template/default/panel/img/telephone.png" alt="" /></a></li>
						<li><a href="/servicios/enlaces" title="{enlaces} [L]" accesskey="L"><img src="/template/default/panel/img/link.png" alt="" /></a></li>
{mapa}
{navUser}
{navMod}
                                        </ul>
                                </div>
				<div class="fright">
{permisos}
{admin}
					<a href="/perfil/" title="{perfil} [P]" accesskey="P"><img src="/template/default/panel/img/profile.png" alt="" /></a>
					<a href="#" onclick="window.print()" title="{imprimir}"><img src="/template/default/panel/img/print.png" alt="" /></a>
					<a href="#" onclick="window.location.reload()" title="{recargar}"><img src="/template/default/panel/img/reload.gif" alt="" /></a>
					<a href="/rss" title="{rss}"><img src="/template/default/panel/img/rss.png" alt="" /></a>
					<a href="/servicios/mapasitio" title="{mapasitio}"><img src="/template/default/panel/img/sitemap.png" alt="" /></a>
					<a href="/servicios/ayuda" title="{ayuda}"><img src="/template/default/panel/img/help.png" alt="" /></a>
					<a href="http://mi.delaf.cl/proyectos/miintranet" title="{info}"><img src="/template/default/panel/img/info.png" alt="" /></a>
					<a href="/logout" title="{salir} [Q]" accesskey="Q"><img src="/template/default/panel/img/logout.png" alt="" /></a>
					&nbsp;
				</div>
			</div>
