<!-- Instalador desarrollado por Esteban De La Fuente Rubio - http://mi.delaf.cl/proyectos/miintranet --> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" /> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Instalador Intranet</title>
                <link rel="shortcut icon" href="template/default/img/favicon.png" />
		<script type="text/javascript" src="../js/calendar/calendar.js"></script>
		<script type="text/javascript" src="../js/calendar/calendar-es.js"></script>
		<script type="text/javascript" src="../js/calendar/calendar-setup.js"></script>
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="js/lang/es.js"></script>
		<script type="text/javascript" src="js/js.js"></script>
		<link rel="stylesheet" type="text/css" href="../js/calendar/calendar.css" media="screen" title="screen" />
		<link rel="stylesheet" type="text/css" href="template/default/css/screen.css" media="screen" title="screen" />
		<link rel="stylesheet" type="text/css" href="template/default/css/print.css" media="print" title="print" />
	</head>
	<body>
		<div id="page">
			<div id="content">
				<h1>Instalador Intranet</h1>
