#nav {
	margin: 0px;
	padding: 5px 0px 5px 0px;
	text-align: center;
	font-size: 0.75em;
}

#nav a {
	padding: 5px 10px 3px 10px;
	border-left: 2px solid #999;
	border-right: 2px solid #999;
	border-bottom: 2px solid #999;
	text-decoration: none;
	background: #eee;
}

#nav a:hover {
	border-top: 2px solid #fff;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	font-weight: bold;
	background: white;
}

#nav a.nav_on {
	border-top: 2px solid #fff;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	font-weight: bold;
	background: white;
}

.navmod a {
	display: block;
}
